@using System.Web.Mvc.Html
@using Erzasoft.CMS
@using Erzasoft.CMS.ViewModel
@model MenuItemViewModel

<li>
    @Html.DisplayForModel(Model.MenuOptions.ItemTemplatePrefix + Model.MenuItem.GetType().BaseType.Name)
    @if (Model.HasChilds)
    {
        <ul>
            @foreach (var children in Model.Childs)
            {
                Html.RenderMenuItem(children, "FooterMenuItemContainer");
            }
        </ul>
    }
</li>