@using Erzasoft.Eshop.Helpers
@using Erzasoft.Web.Areas.Admin.Models
@using Erzasoft.Web.Models
@using Kendo.Mvc.UI
@model dynamic

@{
    ViewBag.HeaderTitle = "Přehled objednávek";
}

<section id="">
    <div id="">
        @(Html.Kendo().Grid<OrderHistoryFormModel>()
                .Name("NewsGrid")
              .Columns(columns =>
              {
                  columns.Bound(s => s.Id);
                  columns.Bound(s => s.Price);
                  columns.Bound(s => s.Amount);
                  //columns.Bound(s => s.Payment.ToString());
                  //columns.Bound(s => s.Type.ToString());

                  //columns.Command(command =>
                  //{
                  //    command.Edit();
                  //    command.Destroy();
                  //});
              })
              //.ToolBar(toolBar => toolBar.Create())
              .Editable(editable => editable.Mode(GridEditMode.PopUp).Window(window => window.Width(700)))
              .Pageable(p => p.Refresh(true).PageSizes(true))
              .Sortable()
               .Filterable(ftb => ftb.Mode(GridFilterMode.Row))
              .ColumnMenu()
              .DataSource(dataSource => dataSource
                .Ajax()
                .Model(model => model.Id(p => p.Id))
                .Create("Create", "OrderHistory")
                        .Read("Read", "OrderHistory")
                        .Update("Update", "OrderHistory")
                        .Destroy("Delete", "OrderHistory")
                .Sort(s => s.Add(t => t.Id).Descending()))
        )
    </div>
</section>

