@using Erzasoft.CMS
@{
    ViewBag.Title = "O naší škole";
}

<section class="container clearfix">
    <article>

        <h1>@ViewBag.Title</h1>

        @{ Html.DisplayContentItem("About"); }
    </article>

</section>