<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://msvetrnik.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>msvetrnik.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>msvetrnik</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$msvetrnik</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:cyl076jzpk.database.windows.net,1433;Initial Catalog=msvetrnik;User ID=erzasoft@cyl076jzpk;Password=pVgvpD$3`T;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:cyl076jzpk.database.windows.net,1433;Database=msvetrnik;User ID=erzasoft@cyl076jzpk;Password=pVgvpD$3`T;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Erzasoft.DataModel.DataContext, Erzasoft.DataModel" MigrationConfiguration="Erzasoft.DataModel.Migrations.Configuration, Erzasoft.DataModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:cyl076jzpk.database.windows.net,1433;Database=msvetrnik;User ID=erzasoft@cyl076jzpk;Password=pVgvpD$3`T;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>